html {
  /*background-image: url('./images/gradient1.png');*/
  background-color: #f2f2f2;
  background-size: cover;
  background-attachment:fixed;
}

#view-1 {
  background-color: #25a792;
}

#view-2 {
  background-color: black;
}

.tile-color {
  background-color: #f2f2f2;
  color: black;
}

.watercolor {
  background-image: url("./images/watercolor.jpg");
}

.left-pad-title {
  padding-left: 5%;
}

#tab-content div {
  display: none;
}

nav#topheader.level.is-mobile {
  padding: 0;
}

.is-active-nav {
  background-color: #25a792;
  padding: 2%;
}

#tab-content div.is-active {
  display: flex;
}

.opa {
  opacity: 0.9;
}

.tag {
  display: block;
  width: 100%;
  margin: 5%;
  height: auto;
}

.hello {
  height: 50vh;
  width: auto;
}

.extra-right {
  padding-right: 3%;
}

.padding-up {
  padding-top: 5%;
}

.extra-left {
  padding-right: 3%;
}

.extra-margin {
  margin-right: 8%;
  margin-left: 8%;
}

.above-hello {
  height: 30vh;
}

.blank-div {
  width: auto;
  height: 30vh;
}

.contact {
  height: 100vh;
  padding-top: 15vh;
}

.view {
  height: 100vh;
}

.view-pad {
  padding-top: 6%;
}

a {
  color: black;
}

nav {
  background-color: #f2f2f2;
  padding: 2%;
}

h1, h2, h3, h4, h5, h6, p {
  color: black;
}

.content h3 {
  font-size: 2em;
}
.the-skill {
  color: #f0eff5 !important;
}

.row-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#content-view {
  background-color: #25a792;
}

.maximum-image {
  padding: 1%;
  max-height: 15%;
  max-width: 15%;
}

@media only screen and (max-width: 585px) {
  .really-mobile {
    font-size: 14pt;
  }
}

@media only screen and (max-width: 570px) {
  .really-mobile {
    font-size: 12pt;
  }
}

@media only screen and (max-width: 767px) {
  .blackdiv {
    height: auto;
    padding-bottom: 5%;
  }
}
@media only screen and (max-width: 500px) {
  .text-mobile {
    margin: 5%;
  }
  .column {
    margin: 0;
    padding: 0;
    float: none;
  }
  .blackdiv {
    height: auto;
    padding-bottom: 5%;
  }
  .title {
    margin-left: 5%;
  }
  nav {
    margin-top: 1%;
    padding-left: 0;
    margin-left: 0;
  }
}


@media only screen and (max-width: 500px) {
  .really-mobile {
    font-size: 8pt;
    margin-left: 0 !important;
  }
  #topheader {
    top: 0;
  }
  .level-item {
    margin: 0;
    padding: 0;
  }
  .has-text-centered {
    padding: 0;
    margin: 0;
  }
  #white-text {
    font-size: 16pt;
  }

}
